$font-color: #1B4F08;
$color-bg-bt: #58E4A0;
$my-color: #73866D;
$my1-color: #BED3C3;
$my2-color: #D9EAD3;
$button-background-color: #5CDB95;
$button-hover-color: #45a049;
$button-text-color: #ffffff;

body {
  background-color: white;
}

.mynavbar {
  background-color: $my1-color;
  width: 100%;
  height: 200px;
  padding-top: 20px;
}

.img-cont {
  display: flex;
  gap: 10px;

  img {
    width: 70px;
    height: 70px;
  }

  h3 {
    margin-top: 10px;
    color: $font-color;
    margin-bottom: 0;
  }

  p {
    color: $font-color;
  }
}

.bg-itm {
  width: 100%;
  margin-top: 10px; /* Pour éviter que le contenu soit masqué sous la navbar */
}

.tem1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  h3 {
    font-weight: 600;
    margin: 10px;
    color: $font-color;
  }

  a {
    text-decoration: none;
  }

  span {
    color: $font-color;
    text-decoration: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    width: 100px;
    background-color: $color-bg-bt;
    border-radius: 0;
    color: white;
  }

  h3 {
    color: $font-color;
  }

  p {
    color: $font-color;
  }
}

.pruduct {
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1300px;
  margin: 10px auto 0;
  gap: 20px;

  .item-1 {
    text-align: center;
    padding-top: 10px;
    background-color: #58E4A0;
    width: 85px;
    height: 90px;
    cursor: pointer;
  }
}

.heder-best {
  width: 100%;
  height: 60px;
  background-color: #1B4F08;

  .taitle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-weight: 600;
      margin: 10px;
      color: white;
    }

    a {
      text-decoration: none;
    }

    span {
      color: white;
      text-decoration: none;
    }
  }
}

.serch {
  position: absolute;
  top: 170px;
  left: 40%;
  z-index: 9999;
}

.serch input {
  border-radius: 50vmax;
  width: 300px;
  border: solid 1px $color-bg-bt;
  padding: 5px;
}

.serch button {
  width: 80px;
  padding: 5px;
  margin: 10px;
  border: none;
  border-radius: 50vmax;
  background-color: #0f9d58;
  color: white;
  font-size: 16px;
}

@media (max-width: 991.98px) {
  .serch {
    top: 170px;
    left: 70px;

    input {
      width: 200px;
    }
  }
}

@media (max-width: 767.98px) {
  .serch {
    top: 170px;
    left: 80px;

    input {
      width: 150px;
    }
  }

  .heder-best {
    background-color: white;

    .taitle h3,
    .taitle a span {
      color: black;
    }
  }
}

.navbar {
  background-color: $my-color;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.navbar-brand {
  color: #004d00;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-brand i {
  font-size: 1.5rem;
}

.navbar-brand div {
  font-size: 0.9rem;
}

.navbar-brand:hover {
  color: #004d00;
}

.bg-best {
  background-color: $my1-color;
  width: 100%;
  height: 50vh;
}

.bg-best .img-item {
  padding-top: 30px;
}

.bg-best .img-item img {
  height: 250px;
}

.bg-best .img-item .add {
  position: relative;
  left: 80px;
  bottom: 40px;
  background-color: $button-background-color;
  color: $button-text-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.bg-best .img-item .add:hover {
  background-color: $button-hover-color;
}
