<body>
    <!-- Début de la barre de navigation -->
    <div class="mynavbar">
      <div class="container">
        <div class="img-cont">
          <img src="assets/Images/petite-fille.png" alt="" width="60px" height="70px">
          <div>
            <h3>Jane Done</h3>
            <p>&#64;JaneDoe</p> <!-- Caractère "@" échappé -->
          </div>
        </div>
      </div>
      <!-- Fin de la photo de profil et du nom de profil -->
  
      <!-- Début de l'en-tête -->
      <div class="container header">
        <div>
          <h3>Ecocoin</h3>
          <p>125</p>
        </div>
        <button class="btn">Top Up</button>
      </div>
      <!-- Fin de l'en-tête -->
    </div>
  
    
  
    <!-- Début de la barre de navigation en bas -->
    <div>
      <nav class="navbar d-flex">
        <div class="container-fluid justify-content-around">
          <a class="navbar-brand text-center" href="#">
            <i class="fas fa-user"></i>
            <div>Profile</div>
          </a>
          <a class="navbar-brand text-center" href="#">
            <i class="fas fa-shopping-cart"></i>
            <div>Cart</div>
          </a>
          <a class="navbar-brand text-center" href="#">
            <i class="fas fa-home"></i>
            <div>Home</div>
          </a>
          <a class="navbar-brand text-center" href="#">
            <i class="fas fa-heart"></i>
            <div>Favorite</div>
          </a>
          <a class="navbar-brand text-center" href="#">
            <i class="fas fa-inbox"></i>
            <div>Inbox</div>
          </a>
        </div>
      </nav>
    </div>
    <!-- Fin de la barre de navigation en bas -->
    
  </body>
  