.book-card {
    background-color: white;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    overflow: hidden;
    font-family: Arial, sans-serif;
      .img-book{
        display: flex;
        justify-content: center;
        

        img {
            width: 250px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
          }
        
      }
 
    .book-details {
      padding: 20px;
  
      h2 {
        font-size: 1.5em;
        color: #1B4F08;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        .price {
          font-size: 1em;
          color: #000;
        }
      }
  
      .rating {
        margin: 10px 0;
        color: #FFA500;
      }
  
      .description {
        font-size: 0.9em;
        color: #73866D;
        margin: 10px 0;
      }
  
      .quantity-selector {
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 10px 0;
        
  
        button {
          background-color: #BED3C3;
          border: none;
          padding: 5px 10px;
          cursor: pointer;
          font-size: 1em;
  
          &:hover {
            background-color: #A0C4B8;
          }
        }
  
        input {
          width: 30px;
          text-align: center;
          border: 1px solid #D9EAD3;
          margin: 0 5px;
          padding: 5px;
          font-size: 1em;
        }
      }
  
      .add-to-cart {
        background-color: #5CDB95;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1em;
        width: 100%;
        text-align: center;
        transition: background-color 0.3s;
        border-radius: 3px;
  
        &:hover {
          background-color: #45a049;
        }
      }
    }
  }
  
  // Media queries for responsiveness
  @media (max-width: 768px) {
    .book-card {
      max-width: 100%;
      margin: 10px;
    }
  
    .book-details {
      padding: 15px;
  
      h2 {
        font-size: 1.2em;
  
        .price {
          font-size: 0.9em;
        }
      }
  
      .description {
        font-size: 0.8em;
      }
  
      .quantity-selector {
        button, input {
          font-size: 0.9em;
        }
      }
  
      .add-to-cart {
        font-size: 0.9em;
      }
    }
  }
  