<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Projet Mobile First</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header class="container-fluid">
        <div class="row align-items-center py-3">
            <div class="col-8 d-flex align-items-center">
                <img src="assets/user_default.png" alt="User Image" class="rounded-circle mr-2" style="width: 80px;">
                <h3 class="m-3">Jane Doe</h3>
            </div>
            <div class="col-4 text-right">
                <i class="header-icon fas fa-bell fa-lg"></i>
                <i class="header-icon fas fa-bars"></i>
            </div>
        </div>

        <div class="row py-3">
            <div class="col-6 text ">
                <h4>Ecocoin</h4>
                <p>125</p>
            </div>
            <div class="col-6 text-center">
                <button class="btn-header btn btn-primary" style="width: 150px;">Top Up</button>
            </div>
        </div>
    </header>
    
    <section class="container mt-4">
        <div class="row mb-4">
            <div class="col-12 text-center">
                <h4>Mon Panier</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="img">
                        <img src="assets/dbz_book.jpg" alt="Icon" class="mr-2" style="width: 110px;">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Dragon Ball</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, vero.</p>
                        <div class="details-product d-flex align-items-center">
                            <div class="add-remove d-flex align-items-center">
                                <h4 class="bg-color">+</h4>
                                <h4>1</h4>
                                <h4 class="bg-color">-</h4>
                            </div>

                            <div class="product-coin">
                                <h4>20
                                    <img src="assets/logo.png" alt="" style="width: 50px;">
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="img">
                        <img src="assets/Naruto_book.jpg" alt="Icon" class="mr-2" style="width: 110px;">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Dragon Ball</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, vero.</p>
                        <div class="details-product d-flex align-items-center">
                            <div class="add-remove d-flex align-items-center">
                                <h4 class="bg-color">+</h4>
                                <h4>1</h4>
                                <h4 class="bg-color">-</h4>
                            </div>

                            <div class="product-coin">
                                <h4>20
                                    <img src="assets/logo.png" alt="" style="width: 50px;">
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn-nav btn btn-primary" style="width: 230px;">Confirmer la commande</button>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand navbar-light fixed-bottom">
        <ul class="navbar-nav nav-justified w-100">
            <li class="nav-item">
                <i class="fas fa-user fa-lg"></i>
                <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <i class="fas fa-shopping-cart fa-lg"></i>
                <a class="nav-link" href="#">Cart</a>
            </li>
            <li class="nav-item">
                <i class="fas fa-home fa-3x"></i>
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <i class="fas fa-heart fa-lg"></i>
                <a class="nav-link" href="#">Favorite</a>
            </li>
            <li class="nav-item">
                <i class="fas fa-envelope fa-lg"></i>
                <a class="nav-link" href="#">Inbox</a>
            </li>
        </ul>
    </nav>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
